:root {
    --height: calc(100vh - 80px);
}

.root {
    height: var(--height);
    padding: 20px;
    margin: 20px;
    border-bottom: 2px solid darkgray;
}

.header {
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
    font-family: Georgia, serif;
}

.body {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    align-items: center;
}

.participants, .winner {
    flex: 1;
    height: calc(var(--height) - 80px);
}

.participants {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.winner {
    text-align: center;
    font-weight: bolder;
}

.button {
    height: 40px;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
}